<div class="login-box">
  <div class="login-logo">
    <a href="#"><b>Business</b> Tool</a>
  </div>

  <div class="login-box-body">
    <p class="login-box-msg">{{ 'password-recovery-page.recover-your-password' | translate }}</p>

    <form #passwordRecoveryForm="ngForm" (ngSubmit)="$event.preventDefault()">
      <app-alert #alert></app-alert>

      <app-input-container [component]="passwordRecoveryEmail" has-feedback="true">
        <label for="email">{{ 'password-recovery-page.email' | translate }}*</label>
        <input id="email" name="email" #passwordRecoveryEmail="ngModel" [(ngModel)]="email" placeholder="{{ 'password-recovery-page.email' | translate }}"
          form-control email required>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </app-input-container>

      <div row>
        <div class="col-xs-8"></div>
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat" [disabled]="passwordRecoveryForm.invalid" (click)="onForgotPassword()">{{ 'password-recovery-page.send' | translate }}</button>
        </div>
      </div>
    </form>

    <a routerLink="/login" class="text-center">{{ 'password-recovery-page.return-to-signin-page' | translate }}</a>
  </div>
</div>
