:host {

    .menu {
        max-height: 200px;
        margin: 0;
        padding: 0;
        list-style: none;
        overflow-x: hidden;

        li a:hover {
            background-color: #f4f4f4;
        }
        li a {
            padding: 10px;
            display: block;
            white-space: nowrap;
            border-bottom: 1px solid #f4f4f4;
            color: inherit;
            background: transparent;

            h3 {
                font-size: 14px;
                padding: 0;
                margin: 0 0 10px 0;
                color: #666666;
            }
        }
    }
}
