<a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <img src="{{ user?.photo || '/assets/img/no-photo.jpg' }}" class="user-image" alt="User Image">
    <span class="hidden-xs">{{ shortName }}</span>
</a>

<ul class="dropdown-menu">

    <li class="user-header">
        <img src="{{ user?.photo || '/assets/img/no-photo.jpg' }}" class="img-circle" alt="User Image">

        <p>
            {{ user?.fullName }}
            <small>{{ user?.email }}</small>
        </p>
    </li>

    <li class="user-body">
        <div class="row">
            <div class="col-xs-4 text-center">
                <a href="#">{{ 'header.followers' | translate }}</a>
            </div>
            <div class="col-xs-4 text-center">
                <a href="#">{{ 'header.sales' | translate }}</a>
            </div>
            <div class="col-xs-4 text-center">
                <a href="#">{{ 'header.friends' | translate }}</a>
            </div>
        </div>

    </li>

    <li class="user-footer">
        <div class="pull-left">
            <a href="#" class="btn btn-default btn-flat">{{ 'header.profile' | translate }}</a>
        </div>
        <div class="pull-right" (click)="signOut()">
            <a href="#" class="btn btn-default btn-flat" (click)="$event.preventDeafult();">{{ 'header.sign-out' | translate }}</a>
        </div>
    </li>
</ul>