:host {
    position: relative;
    display: block;

    .active>a, .open>a, .open>a:hover, .open>a:focus, 
            a:hover, a:focus, a:active {
        background: rgba(0,0,0,0.1);
        color: #f6f6f6;
    }
    .open>a, .open>a:focus, .open>a:hover{
        border-color: #337ab7;
    }
    a:focus, a:hover {
        text-decoration: none;
    }
    a:focus {
        outline-offset: -2px;
    }
    a {
        position: relative;
        display: block;
        padding: 10px 15px;
        color: #fff;

        img {
            max-width: none;
        }
    }

    .dropdown-menu {
        margin-top: 0;
        position: absolute;
        right: 0;
        left: auto;

        .user-body a {
            padding: 0px;
        }

        .user-footer a {
            padding: 6px 12px;
        }
    }
}

@media (min-width: 768px) {
    :host {
        float: left;

        a {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
}

@media (max-width: 991px) {
    :host {
        position: static;
        float: left;

        a {
            padding-top: 15px;
            padding-bottom: 15px;
            line-height: 20px;

        }

        .dropdown-menu {
            position: absolute;
            right: 5%;
            left: auto;
            border: 1px solid #ddd;
            background: #fff;
        }
    }
}