:host {

    .menu {
        max-height: 200px;
        margin: 0;
        padding: 0;
        list-style: none;
        overflow-x: hidden;

        li a:hover {
            background-color: #f4f4f4;
        }
        li a {
            margin: 0;
            padding: 10px 10px;
            display: block;
            white-space: nowrap;
            border-bottom: 1px solid #f4f4f4;
        }

        .pull-left {
            float: left;

            img {
                margin: auto 10px auto auto;
                width: 40px;
                height: 40px;
            }
        }

        h4 {
            padding: 0;
            margin: 0 0 0 45px;
            color: #444444;
            font-size: 15px;
            position: relative;

            small {
                color: #999999;
                font-size: 10px;
                position: absolute;
                top: 0;
                right: 0;
            }
        }

        p {
            margin: 0 0 0 45px;
            font-size: 12px;
            color: #888888;
        }
    }

}
