:host {
    .first-class-panel {
        color: #888;
        font-size: xx-large;
        text-align: center;
        padding: 2em 0;
        border: dashed;
        background-color: #ddd;
        cursor: pointer;
    }
    .first-class-panel:hover {
        background: rgba(0,0,0,0.1);
    }
}