<div class="register-box">
  <!-- Page Title -->
  <div class="register-logo">
    <a href="#"><b>Business</b> Tool</a>
  </div>

  <div class="register-box-body">
    <!-- Box Title -->
    <p class="login-box-msg">{{ 'register-page.register-a-new-menbership' | translate }}</p>

    <!-- Register form -->
    <form #registerForm="ngForm" (ngSubmit)="onSubmit(); $event.preventDefault()">

      <app-alert #alert></app-alert>

      <app-input-container [component]="fullName" has-feedback="true">
        <label for="name">{{ 'register-page.full-name' | translate }}*</label>
        <input id="name" type="text" class="form-control" placeholder="{{ 'register-page.full-name' | translate }}" name="fullName"
          [(ngModel)]="model.fullName" #fullName="ngModel" required minlength="3">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </app-input-container>

      <app-input-container [component]="email" has-feedback="true">
        <label for="email">{{ 'register-page.email' | translate }}*</label>
        <input id="email" type="email" class="form-control" placeholder="{{ 'register-page.email' | translate }}" name="email" [(ngModel)]="model.email"
          #email="ngModel" required email>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </app-input-container>

      <app-input-container [component]="password" has-feedback="true">
        <label for="password">{{ 'register-page.password' | translate }}*</label>
        <input id="password" type="password" class="form-control" placeholder="{{ 'register-page.password' | translate }}" name="password"
          [(ngModel)]="model.password" #password="ngModel" required minlength="6" equals="passwordConfirmation" reverse="true">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </app-input-container>

      <app-input-container [component]="confirmation" has-feedback="true">
        <label for="passwordConfirmation">{{ 'register-page.retype-password' | translate }}*</label>
        <input id="passwordConfirmation" type="password" class="form-control" placeholder="{{ 'register-page.retype-password' | translate }}"
          name="passwordConfirmation" [(ngModel)]="passwordConfirmation" #confirmation="ngModel" equals="password" reverse="false">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </app-input-container>

      <div row>
        <!--div class="col-xs-12">
          <div i-checkbox>
            <label>
              <input type="checkbox" name="terms" [(ngModel)]="terms" #acceptTerms="ngModel"> 
                {{ 'register-page.i-agree-to-the' | translate }} <a href="#">{{ 'register-page.terms' | translate }}</a>
            </label>
          </div>
        </div-->


        <div class="col-xs-8"></div>
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat" [disabled]="registerForm.invalid">
            {{ 'register-page.register' | translate }}
          </button>
        </div>

      </div>
    </form>

    <!-- div class="social-auth-links text-center">
      <p>{{ 'register-page.-or-' | translate }}</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> 
        {{ 'register-page.register-using-facebook' | translate }}
      </a>

      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i>
        {{ 'register-page.register-using-google+' | translate }}
      </a>
    </div -->

    <a routerLink="/login" class="text-center">{{ 'register-page.i-already-have-a-membership' | translate }}</a>
  </div>

</div>