:host {
    position: relative;
    display: block;

    a:hover, a:active, a:focus, a.open {
        background: rgba(0,0,0,0.1);
        color: #f6f6f6;
    }

    a {
        color: #fff;
        position: relative;
        display: block;
        padding: 10px 15px;
        line-height: 20px;
    }
}

@media (min-width: 768px) {
    :host {
        float: left;

        a {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
}

@media (max-width: 991px) {
    :host {
        position: static;
        float: left;

        a {
            padding-top: 15px;
            padding-bottom: 15px;
            line-height: 20px;
            background: transparent;
        }
    }
}
