<header class="main-header">
  
  <app-header-logo></app-header-logo>

  <nav class="navbar navbar-static-top">
    
    <app-main-sidebar-toggle></app-main-sidebar-toggle>

    <app-navbar-custom-menu>
      <app-navbar>
          <app-navbar-item icon="fa-envelope-o">
            <app-navbar-item-dropdown header="header.you-dont-have-messages" footer="header.see-all-messages">
              <app-message-dropdown></app-message-dropdown>
            </app-navbar-item-dropdown>
          </app-navbar-item>

          <app-navbar-item icon="fa-bell-o">
            <app-navbar-item-dropdown header="header.you-dont-have-notifications" footer="header.see-all-notifications">
              <app-notification-dropdown></app-notification-dropdown>
            </app-navbar-item-dropdown>
          </app-navbar-item>

          <app-navbar-item icon="fa-flag-o">
            <app-navbar-item-dropdown header="header.you-dont-have-tasks" footer="header.see-all-tasks">
              <app-tasks-dropdown></app-tasks-dropdown>
            </app-navbar-item-dropdown>
          </app-navbar-item>

          <app-navbar-user-account></app-navbar-user-account>

          <!-- app-control-sidebar-toggle></app-control-sidebar-toggle -->

      </app-navbar>
    </app-navbar-custom-menu>
  </nav>
</header>