:host {

    position: absolute;
    right: 0;
    left: auto;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: none;

    li {
        a {
            display: block;
            clear: both;
            font-weight: 400;
            line-height: 1.42857143;
            white-space: nowrap;
        }
    }

    ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        width: 100%;

        li {
            position: relative;
        }

        .header {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            background-color: #ffffff;
            padding: 7px 10px;
            border-bottom: 1px solid #f4f4f4;
            color: #444444;
            font-size: 14px;
        }

        .footer {
            a:focus, a:hover, a:active {
                text-decoration: none;
                outline: none;
            }
            a:focus {
                outline-offset: -2px;
            }
            a {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                border-bottom-right-radius: 4px;
                border-bottom-left-radius: 4px;
                font-size: 12px;
                padding: 7px 10px;
                border-bottom: 1px solid #eeeeee;
                text-align: center;
                background: #fff !important;
                color: #444 !important;
            }
        }

    }
}

.open>:host {
    display: block;
}

@media (max-width: 767px) {
    :host {
        li {
            a {
                line-height: 20px;
            }
        }
    }
}

@media (max-width: 991px) {

    :host {
        position: absolute !important;
        right: 5%;
        left: auto;
        border: 1px solid #ddd !important;
        background: #fff !important;
    }

}
