<div class="col-md-offset-1 col-xs-12 col-md-10">
  <app-box>
    <app-box-header>{{ 'enterprise.title' | translate }}</app-box-header>

    <form #enterpriseForm="ngForm" (ngSubmit)="doSubmit()">

      <app-box-body>
        <fieldset>
          <legend>{{ 'enterprise.basic-data.title' | translate }}</legend>

          <div class="col-md-3 form-group">
            <label>{{ 'enterprise.basic-data.identifier' | translate }}
              <input class="form-control" name="identifier" [formControl]="controls.identifier" *message="controls.identifier" 
                     required autofocus>
            </label>
          </div>

          <div class="col-md-9 form-group">
            <label>{{ 'enterprise.basic-data.official-name' | translate }}
              <input class="form-control" name="officialName" [formControl]="controls.officialName" *message="controls.officialName"
                     required>
            </label>
          </div>

          <div class="col-md-12 form-group">
            <label>{{ 'enterprise.basic-data.alias' | translate }}
              <input class="form-control" name="alias" [formControl]="controls.alias" *message="controls.alias">
            </label>
          </div>

        </fieldset>

        <app-address [model]="model.address"></app-address>
        
      </app-box-body>

      <app-box-footer>
        <button type="submit" class="btn btn-info pull-right">{{ 'common.buttons.save' | translate }}</button>
      </app-box-footer>

    </form>
  </app-box>
</div>
