<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" style="height: auto;">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="{{ user?.photo || '/assets/img/no-photo.jpg' }}" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{ shortName }}</p>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="{{ 'main-sidebar.search' | translate }}">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->

      <!-- sidebar menu -->
      <ul class="sidebar-menu">
        <li class="header">{{ 'main-sidebar.main-navigation' | translate | uppercase }}</li>

        <li class="treeview">
          <a href="#" routerLink="/">
            <i class="fa fa-dashboard"></i> <span>{{ 'main-sidebar.dashboard' | translate }}</span>
          </a>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-building-o"></i> <span>{{ 'main-sidebar.enterprise' | translate }}</span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#" routerLink="/enterprise"><i class="fa fa-circle-o"></i> {{ 'main-sidebar.enterprise' | translate }}</a></li>
          </ul>
        </li>

        <!-- li class="treeview">
          <a href="#">
            <i class="fa fa-files-o"></i>
            <span>Layout Options</span>
            <span class="pull-right-container">
              <span class="label label-primary pull-right">4</span>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="../layout/top-nav.html"><i class="fa fa-circle-o"></i> Top Navigation</a></li>
            <li><a href="../layout/boxed.html"><i class="fa fa-circle-o"></i> Boxed</a></li>
            <li><a href="../layout/fixed.html"><i class="fa fa-circle-o"></i> Fixed</a></li>
            <li><a href="../layout/collapsed-sidebar.html"><i class="fa fa-circle-o"></i> Collapsed Sidebar</a></li>
          </ul>
        </li -->

      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
