  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 0.0.1
    </div>
    <strong>Copyright © 2017 <a href="#">Haisi Developments</a>.</strong> All rights reserved.
  </footer>
