<app-public-box>

  <app-public-logo></app-public-logo>
  
  <app-public-box-body title="login-page.sign-in-to-start-your-session">

    <form #loginForm="ngForm" (ngSubmit)="onSubmit(); $event.preventDefault()">

      <app-alert #alert></app-alert>

      <app-input-container [component]="email" has-feedback="true">
        <label for="email">{{ 'login-page.email' | translate }}*</label>
        <input id="email" name="email" #email="ngModel" [(ngModel)]="model.email" 
               placeholder="{{ 'register-page.email' | translate }}" form-control email required>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </app-input-container>

      <app-input-container [component]="password" has-feedback="true">
        <label for="password">{{ 'login-page.password' | translate }}*</label>
        <input id="password" type="password"  placeholder="{{ 'login-page.password' | translate }}"
               name="password" #password="ngModel" [(ngModel)]="model.password" form-control required minlength="6">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </app-input-container>

      <div row>
        <div class="col-xs-8"></div>
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat"
                  [disabled]="loginForm.invalid">{{ 'login-page.sign-in' | translate }}</button>
        </div>
      </div>
    </form>

    <!--div class="social-auth-links text-center">
      <p>{{ 'login-page.-or-' | translate }}</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook" style="width: 40px;"></i> 
      {{ 'login-page.sign-in-using-facebook' | translate }}
      </a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus" style="width: 40px;"></i>
      {{ 'login-page.sign-in-using-google+' | translate }}
      </a>
    </div-->

    <a style="cursor: pointer;" routerLink="/password-recovery">{{ 'login-page.i-forgot-my-password' | translate }}</a><br>
    <a routerLink="/register" class="text-center">{{ 'login-page.sign-up' | translate }}</a>

  </app-public-box-body>
</app-public-box>
