/* You can add global styles to this file, and also import other style files */

@import './styles/variables';

@import './styles/public-pages';

@import './styles/override-bootstrap';

// APP STYLES ==========================================
app-main-page {
    display: block;
}

// FORM STYLES =========================================
.form-control.ng-invalid.ng-dirty {
    border-color: $color-border-danger !important;
}
.form-control.ng-invalid.ng-touched {
    border-color: $color-border-danger !important;
}
.form-control.ng-valid {
    border-color: $color-border-success !important; 
}
