<fieldset>
  <legend>{{ 'fragments.address.title' | translate }}</legend>

  <div class="col-md-3 form-group">
    
      <label>{{ 'fragments.address.zip-code' | translate }}
        <input class="form-control" name="zip" [formControl]="controls.zip" *message="controls.zip" [(ngModel)]="model.zip">
      </label>
    
  </div>

  <div class="col-md-7 form-group">
    <label>{{ 'fragments.address.address' | translate }}
      <input class="form-control" name="address" [formControl]="controls.address" *message="controls.address" [(ngModel)]="model.address">
    </label>
  </div>

  <div class="col-md-2 form-group">
    <label>{{ 'fragments.address.number' | translate }}
      <input class="form-control" name="number" [formControl]="controls.number" *message="controls.number" [(ngModel)]="model.number">
    </label>
  </div>

  <div class="col-md-3 form-group">
    <label>{{ 'fragments.address.city' | translate }}
      <input class="form-control" name="city" [formControl]="controls.city" *message="controls.city" [(ngModel)]="model.city">
    </label>
  </div>

  <div class="col-md-3 form-group">
    <label>{{ 'fragments.address.neighborhood' | translate }}
      <input class="form-control" name="neighborhood" [formControl]="controls.neighborhood" *message="controls.neighborhood" [(ngModel)]="model.neighborhood">
    </label>
  </div>

  <div class="col-md-3 form-group">
    <label>{{ 'fragments.address.state' | translate }}
      <input class="form-control" name="state" [formControl]="controls.state" *message="controls.state" [(ngModel)]="model.state">
    </label>
  </div>

  <div class="col-md-3 form-group">
    <label>{{ 'fragments.address.country' | translate }}
      <input class="form-control" name="country" [formControl]="controls.country" *message="controls.country" [(ngModel)]="model.country">
    </label>
  </div>

</fieldset>
