<div class="form-group" [ngClass]="{ 'has-error': component?.touched && component?.invalid, 'has-feedback': hasFeedback }">
  <ng-content></ng-content>
  <app-input-message [errors]="component?.errors" *ngIf="component?.touched"></app-input-message>
</div>